h1 Syntax

hr

h2 CSS Syntax
p This works

.syntax-element.syntax-css

pre
  code.language-css.
    .syntax-css {
      background: red;
    }

hr

h2 Sass Syntax
p This works
.syntax-element.syntax-sass

pre
  code.language-css.
    .syntax-sass
      background: green

hr

h2 Stripped Down Stylus (AWESOME!!!) Syntax
p This works
.syntax-element.syntax-stylus

pre
  code.language-stylus.
    .syntax-stylus
      background blue

hr


