h2 Plugins

h3 Nib
.example
  a(href="http://tj.github.io/nib/") Nib
  ul
    li Like Compass for stylus
    li Built in mixins
    li Vendor Prefixes

h3 Rupture
.example
  a(href="http://jenius.github.io/rupture/") Rupture
  ul
    li Easily readable media query mixins

  pre
    code.language-stylus.
      +above(48em)

h3 Jeet
.example
  a(href="http://jeet.gs/") Jeet
  ul
    li A grid system for humans
    li Easy to use powerful grid mixins

  pre
    code.language-stylus.
      col(1/4, gutter: .5)

h3 Stylint
.example
  a(href="https://github.com/rossPatton/stylint") Stylint
  ul
    li Stylus linting
