h2 Extend

h3 LESS

.example
  pre
    code.language-less.
      .extend-parent-1 {
        &:extend(.extended-class);
        background: blue;
      }

      .extend-parent-2 {
        &:extend(.extended-class);
        background: green;
      }

      .extended-class {
        color: red;
      }

  p Yields:

  pre
    code.language-css.
      .extend-parent-1 {
        background: blue;
      }
      .extend-parent-2 {
        background: green;
      }
      .extended-class,
      .extend-parent-1,
      .extend-parent-2 {
        color: red;
      }


h3 Sass
p Since we can do placeholders we do not need to generate an extra class

.example
  pre
    code.language-stylus.
      .extend-parent-1
        @extend %extended-class
        background: blue

      .extend-parent-2
        @extend %extended-class
        background: green

      %extended-class
        color: red

  p Yields:

  pre
    code.language-css.
      .extend-parent-1 {
        background: blue; }

      .extend-parent-2 {
        background: green; }

      .extend-parent-1, .extend-parent-2 {
        color: red; }

h3 Stylus
p Again with placeholders

.example
  pre
    code.language-stylus.
      $extended-class
        color red

      .extend-parent-1
        @extend $extended-class
        background blue

      .extend-parent-2
        @extend $extended-class
        background green

  p Note: the extended class comes before it's usage (it is CSS after all)

  pre
    code.language-css.
      .extend-parent-1,
      .extend-parent-2 {
        color: #f00;
      }
      .extend-parent-1 {
        background: #00f;
      }
      .extend-parent-2 {
        background: #008000;
      }



